#cont {
  background-color: white;
  border: 1px solid #dadada;
  width: 950px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 20px;
  margin-top: 35px; }
  #cont legend {
    color: #292929;
    font-weight: bold;
    font-size: 20px; }
  #cont form p.inputrow input[type="text"], #cont form p.inputrow input[type="password"], #cont form p.inputrow input[type="email"] {
    border: 1px solid #cccccc;
    transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out; }
    #cont form p.inputrow input[type="text"]:focus, #cont form p.inputrow input[type="password"]:focus, #cont form p.inputrow input[type="email"]:focus {
      border: 1px solid black;
      -webkit-box-shadow: 0 0 25px #cccccc;
      -moz-box-shadow: 0 0 25px #cccccc;
      transform: scale(1.03);
      -webkit-transform: scale(1.03);
      -moz-transform: scale(1.03);
      -o-transform: scale(1.03); }
  #cont form textarea {
    transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out; }
    #cont form textarea:focus {
      border: 1px solid black;
      -webkit-box-shadow: 0 0 25px #cccccc;
      -moz-box-shadow: 0 0 25px #cccccc;
      transform: scale(1.03);
      -webkit-transform: scale(1.03);
      -moz-transform: scale(1.03);
      -o-transform: scale(1.03); }
