body {
  margin: 0px;
  font-family: Tahoma, Geneva, sans-serif;
  max-width: 1600px; }
  body a {
    text-decoration: none;
    color: black; }
  body ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none; }
  body .notice {
    padding: 5px;
    border: 1px solid #99cc99;
    background-color: #e2f9e3;
    color: #006600; }
  body .error {
    padding: 5px;
    border: 1px solid #a3032e;
    background-color: #ffe4e1; }
  body .button {
    float: right;
    border: 1px solid #dadada;
    padding-top: 40px;
    margin-right: 12px;
    margin-top: -20px;
    margin-bottom: 10px;
    border-radius: 10px;
    background: white url("/images/admin/new.png") no-repeat center 7px;
    width: 50px;
    height: 25px;
    text-align: center; }
    body .button#back {
      background: white url("/images/admin/back.png") no-repeat center 7px; }
  body table.data_table thead th.small {
    width: 80px; }
  body table.data_table thead th.medium {
    width: 120px; }
  body table {
    border-collapse: collapse;
    margin-left: 10px;
    width: 930px; }
    body table td, body table th {
      border: 1px #cccccc solid;
      text-align: left;
      padding: 0.3em; }
    body table thead {
      font-size: 20px;
      color: grey;
      background: #292929; }
    body table tbody tr.even {
      background: #ebf3ff; }
    body table tbody tr.odd {
      background: white; }
    body table tbody tr:hover {
      background: #3798e5; }
  body fieldset.field {
    background-color: white;
    border: 1px solid #dadada;
    width: 950px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 20px;
    margin-top: 35px; }
    body fieldset.field legend {
      color: #292929;
      font-weight: bold;
      font-size: 20px; }
    body fieldset.field form p.inputrow input {
      height: 25px;
      border: 1px solid #cccccc;
      transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -webkit-transition: all 0.2s ease-in-out; }
      body fieldset.field form p.inputrow input:focus {
        border: 1px solid black;
        -webkit-box-shadow: 0 0 25px #cccccc;
        -moz-box-shadow: 0 0 25px #cccccc;
        transform: scale(1.03);
        -webkit-transform: scale(1.03);
        -moz-transform: scale(1.03);
        -o-transform: scale(1.03); }
    body fieldset.field form textarea {
      transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -webkit-transition: all 0.2s ease-in-out; }
      body fieldset.field form textarea:focus {
        border: 1px solid black;
        -webkit-box-shadow: 0 0 25px #cccccc;
        -moz-box-shadow: 0 0 25px #cccccc;
        transform: scale(1.03);
        -webkit-transform: scale(1.03);
        -moz-transform: scale(1.03);
        -o-transform: scale(1.03); }
  body #container {
    background: #e6eae9 url("/images/admin/stripe.png") repeat-y fixed;
    float: left;
    position: relative;
    width: 100%; }
    body #container ul {
      list-style-type: none; }
    body #container #left_dash {
      color: #f5f5f5;
      margin-left: 20px;
      width: 210px;
      position: fixed;
      float: left;
      clear: both;
      top: 0pt; }
      body #container #left_dash h1 {
        margin-bottom: 10px;
        font-size: 45px; }
      body #container #left_dash a#log_out {
        color: white; }
      body #container #left_dash #start_menu {
        margin-top: 70px;
        margin-left: 0px;
        height: 305px; }
        body #container #left_dash #start_menu li {
          background: url("/images/admin/menu_spacer.png") no-repeat;
          width: 220px;
          height: 46px;
          margin-left: -25px;
          clear: both;
          float: left; }
          body #container #left_dash #start_menu li.current, body #container #left_dash #start_menu li:hover {
            background: url("/images/admin/menu_current.png") no-repeat;
            color: gray; }
            body #container #left_dash #start_menu li.current span, body #container #left_dash #start_menu li:hover span {
              color: white;
              background: url("/images/admin/menu_arrow.png") 100% 50% no-repeat; }
          body #container #left_dash #start_menu li a {
            height: 40px;
            clear: both;
            float: left;
            padding-left: 15px;
            width: 220px;
            height: 45px;
            color: #f5f5f5;
            text-decoration: none; }
            body #container #left_dash #start_menu li a img {
              margin: 6px 20px 0px 15px;
              clear: both;
              float: left; }
            body #container #left_dash #start_menu li a span {
              float: left;
              color: gray;
              text-weight: bold;
              width: 140px;
              margin-top: 15px; }
      body #container #left_dash img {
        margin-left: -20px;
        margin-bottom: 13px; }
    body #container #right_dash {
      margin-top: 20px;
      margin-left: 250px;
      margin-right: 15px;
      min-height: 1000px; }
      body #container #right_dash #title {
        color: gray;
        margin-top: 35px; }
      body #container #right_dash #deshboard_menu li {
        float: left;
        margin: 0 15px 15px 0;
        width: 100px;
        height: 100px;
        position: relative;
        background: white;
        border: 1px solid white;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -moz-box-shadow: 1px 1px 0px #999999;
        -webkit-box-shadow: 1px 1px 0px #999999; }
        body #container #right_dash #deshboard_menu li a {
          clear: both;
          float: left;
          height: 100px;
          text-decoration: none;
          width: 100px; }
          body #container #right_dash #deshboard_menu li a img {
            margin-left: 15px;
            margin-top: 10px; }
          body #container #right_dash #deshboard_menu li a span {
            line-height: 20px;
            margin-left: 33px;
            font-size: 13px;
            color: gray; }
