-content_for :head, stylesheet_link_tag('admin/edit_new')
%fieldset#cont
  %legend
    Create new account
  -form_for ['admin',@account] do |f|
    %p.inputrow
      =f.label :email
      %br
      =f.text_field :email
    %p.inputrow
      =f.label :password
      %br
      =f.password_field :password
    %p=f.submit