%fieldset.field
  %legend
    Create new account
  =link_to 'back', admin_accounts_path , :class=>'button', :id=> 'back'
  -form_for ['admin',@account] do |f|
    %p.inputrow
      =f.label 'email:'
      %br
      =f.text_field :email
    %p.inputrow
      =f.label 'password:'
      %br
      =f.password_field :password
    %p=f.submit