=link_to_function 'Sign out',nil, :class=>"button signOutButton", :style=>"display: #{account_signed_in? ? 'auto' : 'none'}"
=link_to 'Sign in','#sign_in', :class=>"button flip signInButton", :style=>"display: #{!account_signed_in? ? 'auto' : 'none'}"