body
  background: #4a4a4a url(/images/layout/BG.jpg) repeat-x 0px -50px
  #wrapper
    min-height: 700px
    background: url(/images/layout/BG-header.jpg) -200 no-repeat
    #mantra
      height: 400px
      #new_user
        float: left
        margin-left: 0px
        margin-top: 20px
        height: 370px
        width: 400px
        h1
          font-size: 30px
          padding-bottom: 30px
          margin-left: 65px
          width: 300px
        #form_new
          height: 280px
          width: 420px
          border: 1px solid gray
          background-color: white
          -moz-border-radius: 25px
          border-radius: 25px
          img
            float: left
            clear: left
            margin-left: -173px
            margin-top: 65px
          form
            margin-top: 18px
            margin-bottom: 2px
            margin-right: 24px
            float: right
            font-size: 15px
            font-weight: bold
            color: gray
            input
              -moz-border-radius: 5px
              border-radius: 5px
              height: 15px
              border: 1px solid gray
          #start
            margin-top: 0px
            margin-left: 200px
            li.current
              width: 145px
              margin-left: 40px
              margin-top: 42px
              border: 1px solid gray
              img
                float: right
                margin-right: 5px
                margin-top: 0px
              a
                text-align: left
                padding-top: 0px
      #exist_user
        float: right
        margin-left: 0px
        margin-top: 20px
        height: 370px
        width: 400px
        h1
          font-size: 30px
          padding-bottom: 10px
          margin-left: 0px
          width: 330px
          color:  #4a4a4a
          text-shadow: 1px 1px 1px white
        #form_exist
          form
            margin-top: 41px
            margin-bottom: -21px
            font-size: 15px
            font-weight: bold
            input
              -moz-border-radius: 5px
              border-radius: 5px
              height: 15px
              border: 1px solid gray

          #start
            margin-top: 0px
            margin-left: 200px
            li.current
              width: 145px
              margin-left: 20px
              margin-top: 150px
              border: 1px solid gray
              img
                float: right
                margin-right: 5px
                margin-top: 0px
              a
                text-align: left
                padding-top: 0px

  #footer
    height: 150px
    background: url(/images/layout/BG-footer.jpg) repeat-x top #445866
    margin-top: 50px
