#jqt div.main div.price {
  font-size: 11pt;
  color: #3a3a3a;
  margin-top: 20px;
  margin-right: 0px;
  float: right;
  padding-right: 30px;
  height: 23px;
  background: url("/images/client/jqtouch/themes/apple/chevron.png") -1px right no-repeat; }
#jqt div.main div.picture {
  float: left;
  width: 57px;
  height: 57px;
  overflow: hidden;
  margin-left: 5px;
  margin-right: 20px;
  -webkit-box-shadow: 0px 1px 5px #545456;
  border-radius: 10px; }
#jqt div.main div.creator {
  font-size: 10pt;
  color: #3a3a3a; }
#jqt div.main div.title {
  font-size: 12pt;
  color: black; }
