body {
  background: #4a4a4a url(/images/layout/BG.jpg) repeat-x 0px -50px; }
  body #wrapper {
    min-height: 700px;
    background: url(/images/layout/BG-header.jpg) -200 no-repeat; }
    body #wrapper #mantra {
      height: 400px; }
      body #wrapper #mantra #new_user {
        float: left;
        margin-left: 0px;
        margin-top: 20px;
        height: 370px;
        width: 400px; }
        body #wrapper #mantra #new_user h1 {
          font-size: 30px;
          padding-bottom: 30px;
          margin-left: 65px;
          width: 300px; }
        body #wrapper #mantra #new_user #form_new {
          height: 300px;
          width: 420px;
          border: 1px solid gray;
          background-color: white;
          -moz-border-radius: 25px;
          border-radius: 25px; }
          body #wrapper #mantra #new_user #form_new img {
            float: left;
            clear: left;
            margin-left: -140px;
            margin-top: 65px; }
          body #wrapper #mantra #new_user #form_new form {
            margin-top: 20px;
            margin-bottom: 20px;
            font-size: 18px;
            font-weight: bold;
            color: gray; }
            body #wrapper #mantra #new_user #form_new form input {
              -moz-border-radius: 5px;
              border-radius: 5px;
              height: 20px;
              border: 1px solid gray; }
          body #wrapper #mantra #new_user #form_new #start {
            margin-top: 0px;
            margin-left: 200px; }
            body #wrapper #mantra #new_user #form_new #start li.current {
              width: 145px;
              margin-left: 40px;
              margin-top: 15px;
              border: 1px solid gray; }
              body #wrapper #mantra #new_user #form_new #start li.current img {
                float: right;
                margin-right: 5px;
                margin-top: 0px; }
              body #wrapper #mantra #new_user #form_new #start li.current a {
                text-align: left;
                padding-top: 0px; }
      body #wrapper #mantra #exist_user {
        float: right;
        margin-left: 0px;
        margin-top: 20px;
        height: 370px;
        width: 400px; }
        body #wrapper #mantra #exist_user h1 {
          font-size: 30px;
          padding-bottom: 10px;
          margin-left: 0px;
          width: 330px;
          color: #4a4a4a;
          text-shadow: 1px 1px 1px white; }
        body #wrapper #mantra #exist_user #form_exist form {
          margin-top: 20px;
          margin-bottom: 20px;
          font-size: 18px;
          font-weight: bold; }
          body #wrapper #mantra #exist_user #form_exist form input {
            -moz-border-radius: 5px;
            border-radius: 5px;
            height: 20px;
            border: 1px solid gray; }
        body #wrapper #mantra #exist_user #form_exist #start {
          margin-top: 0px;
          margin-left: 200px; }
          body #wrapper #mantra #exist_user #form_exist #start li.current {
            width: 145px;
            margin-left: 20px;
            margin-top: 125px;
            border: 1px solid gray; }
            body #wrapper #mantra #exist_user #form_exist #start li.current img {
              float: right;
              margin-right: 5px;
              margin-top: 0px; }
            body #wrapper #mantra #exist_user #form_exist #start li.current a {
              text-align: left;
              padding-top: 0px; }
  body #footer {
    height: 150px;
    background: url(/images/layout/BG-footer.jpg) repeat-x top #445866;
    margin-top: 50px; }
