-content_for :head do
  =stylesheet_link_tag 'client/about'
%div#about.selectable
  %div.toolbar
    =link_to "Back", nil, :class => "back"
    %h1
      About us  
  %div.content
    %strong 
      The Brainiac project
    is an online course store.
    The idea is to have a course for almost every subject, with a special algorithem behind the scene our app
    will practically inject your brain the cours'es content in no time.
    %div{:style=>'margin-top:10px'}
      This app is braught to you by:
    %div.team_member
      =image_tag '/images/client/hagit.png'
      %h2
        Hagit Gat
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    %div.team_member
      =image_tag '/images/client/sagi.png'#, :style=>'float:right'
      %h2
        Sagi Almog
      Aliquam ornare tortor ac neque hendrerit in porta dolor ornare. 
    %div.team_member
      =image_tag '/images/client/guy.png'
      %h2
        Guy Shmuely
      Praesent eu pellentesque felis. Duis quis erat sapien.

