-content_for :head do
  //=stylesheet_link_tag 'client/categories'
%div#categories.selectable
  %div.toolbar
    =render 'devise/shared/sign_in'
    %h1
      Categories
  %div.main
    %div.scroller
      %strong
        Categories