-content_for :head do
  //=stylesheet_link_tag 'client/search'
%div#search.selectable
  %div.toolbar
    //=link_to "Back", nil, :class => "back"
    %h1
      Search
  %div.main
    %div.scroller
      Search