-content_for :head do
  //=stylesheet_link_tag 'client/top'
%div#top.selectable
  %div.toolbar
    //=link_to "Back", nil, :class => "back"
    =render 'devise/shared/sign_in'
    %h1
      Top 25
  %div.main
    %div.scroller
      %ul
