%div#mantra
  %h2 Contact
  %ul#start.menu
    %li.current
      =image_tag '/images/right_arrow.png'
      =link_to new_account_session_path do
        %span Start now
        %br
        using brainiac!
%div#content
  %h1 Contact us any time
  %br