-content_for :title, 'Brainiac'
%div#home.current
  %div.toolbar
    //=link_to "Back", nil, :class => "back" unless current_page? root_path
    =link_to 'About','#about',:id=>'infoButton',:class=>"button flip"
    %h1
      Brainiac
    //=link_to "Full Site", root_url(:mobile => 0), :class => "button", :rel => "external"
    -unless flash.empty?
      %div.info
      - flash.each do |name, msg|
        = content_tag :div, msg, :id => "flash_#{name}"
  %div{:style=>'text-align:center;margin-top:10px'}
    Welcome to the Brainiac project.
  %div{:style=>'text-align:center;margin-bottom:10px'}
    This project is under construction.
  %div{:style=>'width:256px;margin:auto'}
    =image_tag '/images/client/under_construction.png'
=render :partial=>"about"
