%div#content
  %h1 What is "Brainiac"?
  %p The Brainiac project is an online course store.
  %p The idea is to have a course for almost every subject, with a special algorithem behind the scene.
  %p Our app will practically inject your brain the course's content in no time!!!
  %br