%div#card_a.selectable
  %div.toolbar
    %h1
      Question?
    =link_to 'Finish','#home', :class=>"button slidedown"
  %div.main
    %div.content
    =link_to image_tag('/images/client/next.png'),'#solution_a', :class=>"slideleft next"


%div#solution_a.selectable
  %div.toolbar
    %h1
      Solution
    =link_to 'back',nil, :class=>"back"
    =link_to 'Finish','#home', :class=>"button slidedown"
  %div.main
    %div.content
    =link_to image_tag('/images/client/yes.png'),'#card_b', :class=>"slideleft yes"
    =link_to image_tag('/images/client/no.png'),'#card_b', :class=>"slideleft no"

%div#card_b.selectable
  %div.toolbar
    %h1
      Question?
    =link_to 'Finish','#home', :class=>"button slidedown"
  %div.main
    %div.content
    =link_to image_tag('/images/client/next.png'),'#solution_b', :class=>"slideleft next"

%div#solution_b.selectable
  %div.toolbar
    %h1
      Solution
    =link_to 'back',nil, :class=>"back"
    =link_to 'Finish','#home', :class=>"button slidedown"
  %div.main
    %div.content
    =link_to image_tag('/images/client/yes.png'),'#card_a', :class=>"slideleft yes"
    =link_to image_tag('/images/client/no.png'),'#card_a', :class=>"slideleft no"