-content_for :head do
  //=stylesheet_link_tag 'client/downloads'
%div#home.current
  %div.toolbar
    //=link_to "Back", nil, :class => "back"
    %h1
      =@course.title
  %div.main
    %div.header
      %div.picture
        =image_tag @course.icon.url(:thumb) if @course.icon.file?
      %div.creator
        Guy shmuely
      %div.title
        =@course.title
    %div.description
      =@course.description
    =link_to image_tag('/images/client/play.png'),'#card_a', :class=>"slideleft play"

=render :partial=>"play"

:javascript
  var account = jQuery.parseJSON('#{current_account.to_json(:only=>[:email,:authentication_token])}').account