CACHE MANIFEST
="#sdf"
javascripts/cached/course.js
stylesheets/cached/course.css
images/client/jqtouch/themes/apple/redButton.png
images/client/jqtouch/themes/apple/whiteButton.png
images/client/jqtouch/themes/apple/backButton.png
images/client/jqtouch/themes/apple/activeBackButton.png
images/client/jqtouch/themes/apple/activeButton.png
images/client/jqtouch/themes/apple/toolButton.png
images/client/jqtouch/themes/apple/pinstripes.png
images/client/jqtouch/themes/apple/toolbar.png
=client_course_path(@course)


NETWORK:
http://s3.amazonaws.com/brainiac/images/