#jqt.landscape {
  height: 210px;
  min-height: 210px; }
  #jqt.landscape div.main {
    height: 210px; }
#jqt.portrait {
  height: 367px;
  min-height: 367px; }
  #jqt.portrait div.main {
    height: 367px; }
#jqt div.main {
  position: relative;
  z-index: 1;
  overflow-y: scroll; }
  #jqt div.main div.scroller div.course {
    padding: 20px 10px; }
    #jqt div.main div.scroller div.course div.header {
      height: 70px; }
      #jqt div.main div.scroller div.course div.header a.price {
        margin-top: 20px;
        margin-right: 10px;
        float: right; }
      #jqt div.main div.scroller div.course div.header div.picture {
        float: left;
        width: 57px;
        height: 57px;
        overflow: hidden;
        margin-left: 5px;
        margin-right: 20px;
        -webkit-box-shadow: 0px 1px 5px #545456;
        border-radius: 10px; }
      #jqt div.main div.scroller div.course div.header div.creator {
        font-size: 10pt;
        color: #3a3a3a; }
      #jqt div.main div.scroller div.course div.header div.title {
        font-size: 12pt;
        color: black;
        width: 140px;
        margin-left: 80px;
        white-space: normal; }
    #jqt div.main div.scroller div.course div.description {
      padding: 0px 5px;
      direction: rtl; }
  #jqt div.main div.scroller ul {
    margin: 0px;
    border: 0px solid; }
    #jqt div.main div.scroller ul li {
      border-radius: 0px;
      height: 59px;
      text-shadow: 0px 1px 1px #c2c2c2;
      padding-top: 10px; }
      #jqt div.main div.scroller ul li div.price {
        font-size: 11pt;
        color: #3a3a3a;
        margin-top: 20px;
        margin-right: 0px;
        float: right;
        padding-right: 30px;
        height: 23px;
        background: url("/images/client/jqtouch/themes/apple/chevron.png") -1px right no-repeat; }
      #jqt div.main div.scroller ul li div.picture {
        float: left;
        width: 57px;
        height: 57px;
        overflow: hidden;
        margin-left: 5px;
        margin-right: 20px;
        -webkit-box-shadow: 0px 1px 5px #545456;
        border-radius: 10px; }
      #jqt div.main div.scroller ul li div.creator {
        font-size: 10pt;
        color: #3a3a3a; }
      #jqt div.main div.scroller ul li div.title {
        font-size: 12pt;
        color: black;
        width: 120px;
        margin-left: 80px;
        white-space: normal; }
      #jqt div.main div.scroller ul li.odd {
        background-color: #98989c;
        border-bottom: 1px solid #898a8d; }
      #jqt div.main div.scroller ul li.even {
        background-color: #adadb0;
        border-top: 1px solid #bbbbbd; }

div.bar {
  position: absolute;
  bottom: 0px;
  height: 49px;
  width: 100%;
  background: url("/images/client/bar_background.png") repeat-x;
  z-index: 1000; }
  div.bar a {
    margin-left: 2px;
    width: 70px;
    color: #999999;
    font-size: 8pt;
    float: left;
    text-decoration: none;
    font-family: Helvetica;
    font-weight: bold;
    text-align: center;
    width: 61px;
    height: 49px;
    line-height: 80px;
    background-position: center top;
    background-repeat: no-repeat; }
    div.bar a.selected, div.bar a:active {
      color: white; }
      div.bar a.selected.top, div.bar a:active.top {
        background-image: url("/images/client/top_selected.png"); }
      div.bar a.selected.featured, div.bar a:active.featured {
        background-image: url("/images/client/featured_selected.png"); }
      div.bar a.selected.categories, div.bar a:active.categories {
        background-image: url("/images/client/categories_selected.png"); }
      div.bar a.selected.search, div.bar a:active.search {
        background-image: url("/images/client/search_selected.png"); }
      div.bar a.selected.downloads, div.bar a:active.downloads {
        background-image: url("/images/client/downloads_selected.png"); }
    div.bar a.top {
      background-image: url("/images/client/top.png"); }
    div.bar a.featured {
      background-image: url("/images/client/featured.png"); }
    div.bar a.categories {
      background-image: url("/images/client/categories.png"); }
    div.bar a.search {
      background-image: url("/images/client/search.png"); }
    div.bar a.downloads {
      background-image: url("/images/client/downloads.png"); }
