%div=link_to 'back', admin_courses_path
%div=link_to 'new', new_admin_course_card_path(:course_id=>@course)
-for card in @cards
  %div
    =card.content
    =link_to 'edit', edit_admin_course_card_path(:course_id=>@course.id, :id=>card.id)
    =link_to "delete", admin_course_card_path(:course_id=>@course.id, :id=>card.id), :method => :delete, :confirm => "are you sure?"