-content_for :head, stylesheet_link_tag('admin/account_course')
%fieldset.field
  %legend
    Cards for #{@course.title} course
  =link_to 'new', new_admin_course_card_path(:course_id=>@course), :class=>'button'
  =link_to 'back', admin_courses_path(:course_id=>@course), :class=>'button', :id=> 'back'
  %div=link_to 'export', admin_course_cards_path(:course_id=>@course,:format=>'xls'), :class=>'button'

  =form_tag(import_admin_course_cards_path(:course_id=>@course), :method => "post", :multipart=>true) do
    = file_field_tag(:cards)
    = submit_tag("Import")
  %table.data_table
    %thead
      %tr
        %th
          Card question
        %th
          Card solution
        %th.small
          Actions
    %tbody
      -for card in @cards
        %tr{:class=>cycle ("even","odd")}
          %td
            =card.question
          %td
            =card.solution
          %td
            =link_to '', edit_admin_course_card_path(:course_id=>@course.id, :id=>card.id) ,:class => 'edit'
            =link_to '' , admin_course_card_path(:course_id=>@course.id, :id=>card.id) , :method => :delete ,:confirm => "are you sure?", :class => 'delete'