%fieldset.field
  %legend
    Create new card
  =link_to 'back', admin_course_cards_path , :class=>'button', :id=> 'back'
  -form_for [:admin, @course, @card], :html => { :multipart => true } do |f|
    %p.inputrow
      =f.label 'Question:'
      %br
      =f.text_field :question
      rtl
      =f.radio_button :question_direction, 'rtl'
      ltr
      =f.radio_button :question_direction, 'ltr'
    %p.inputrow
      =f.label 'Solution:'
      %br
      =f.text_field :solution
      rtl
      =f.radio_button :solution_direction, 'rtl'
      ltr
      =f.radio_button :solution_direction, 'ltr'
    %p=f.submit


