-for course in @courses
  %li{:class=>"#{cycle(:odd,:even)}"}
    -link_to course_path(course) do
      %div.price
        =course.price==0 ? 'FREE' : raw("&#8362; #{course.price}")
      %div.picture
        =image_tag course.image.url(:thumb), :alt=>'No Image'
      %div.creator
        Guy shmuely
      %div.title
        =course.title  