%div#courses
  %div.toolbar
    =link_to "Back", nil, :class => "back" unless current_page? root_path
    %h1
      Courses
    -unless flash.empty?
      %div.info
      - flash.each do |name, msg|
        = content_tag :div, msg, :id => "flash_#{name}"
  %div{:style=>'text-align:center;margin-top:10px'}
    %div="Number of courses: #{@courses.size()}"
    -for course in @courses
      %div{:style=>'text-align:center;margin-top:10px'}
        =image_tag course.image.url(:thumb)
        =course.title