-current_account.reset_authentication_token if current_account.authentication_token.blank?
%div#current_account_email=current_account.email
%div#authentication_token=current_account.authentication_token