-content_for :head, stylesheet_link_tag('devise')
%h2#title Dashboard Elements
%ul#deshboard_menu
  %li.current
    =link_to nil do
      =image_tag '/images/admin/1.png'
      %span right1
  %li
    =link_to nil do
      =image_tag '/images/admin/2.png'
      %span right2
  %li.current
    =link_to nil do
      =image_tag '/images/admin/3.png'
      %span right3
  %li
    =link_to nil do
      =image_tag '/images/admin/4.png'
      %span right4
  %li.current
    =link_to nil do
      =image_tag '/images/admin/5.png'
      %span right5
  %li
    =link_to nil do
      =image_tag '/images/admin/6.png'
      %span right6
  %li.current
    =link_to nil do
      =image_tag '/images/admin/2.png'
      %span right7
  %li
    =link_to nil do
      =image_tag '/images/admin/3.png'
      %span right8
  %li.current
    =link_to nil do
      =image_tag '/images/admin/4.png'
      %span right9
  %li
    =link_to nil do
      =image_tag '/images/admin/5.png'
      %span right10
  %li.current
    =link_to nil do
      =image_tag '/images/admin/1.png'
      %span right11
  %li
    =link_to nil do
      =image_tag '/images/admin/2.png'
      %span right12
  %li.current
    =link_to nil do
      =image_tag '/images/admin/3.png'
      %span right13
  %li
    =link_to nil do
      =image_tag '/images/admin/4.png'
      %span right14
  %li.current
    =link_to nil do
      =image_tag '/images/admin/5.png'
      %span right15
  %li
    =link_to nil do
      =image_tag '/images/admin/6.png'
      %span right16



