-form_for [:admin,@course], :html => { :multipart => true } do |f|
  %div=f.text_field :title
  %div
    =f.text_field :price
  %div
    =f.text_area :description
  %div
    Icon
    =image_tag @course.icon.url(:thumb) if @course.icon.file?
    =f.file_field :icon
  %div
    Image
    =image_tag @course.image.url(:thumb) if @course.image.file?
    =f.file_field :image
  %div=f.submit 'Save'