%fieldset.field
  %legend
    Create course
  =link_to 'back', admin_courses_path , :class=>'button' ,:id=>'back'
  -form_for [:admin,@course], :html => { :multipart => true } do |f|
    %p.inputrow
      =f.label 'Name:'
      %br
      =f.text_field :display_name
    %p.inputrow
      =f.label 'Title:'
      %br
      =f.text_field :title
    %p.inputrow
      =f.label 'Price (in cents):'
      %br
      =f.text_field :price_in_cents
    %p.inputrow
      =f.label 'description:'
      %br
      =f.text_area :description
    %p.inputrow
      =f.label 'Icon:'
      =image_tag @course.image.url(:thumb) if @course.image.file?
      %br
      =f.file_field :icon
    %p.inputrow
      =f.label 'Image:'
      =image_tag @course.image.url(:thumb) if @course.image.file?
      %br
      =f.file_field :image
    %p=f.submit