!!!
%html
  %head
    %title
    =stylesheet_link_tag 'admin/admin', :cache => 'cached/web_admin'
    =javascript_include_tag :defaults, :jqtouch, :cache => 'cached/web_admin'
    =yield :head
    =csrf_meta_tag
  %body       
    %div#container
      %div#left_dash
        %h1 HELLO!
        =current_account.email
        %br
        %br
        =link_to 'log out' , destroy_account_session_path, :id=> 'log_out'
        %ul#start_menu
          %li{:class=>controller.action_name == 'dashboard' ? 'current': nil}
            =link_to account_root_path do
              =image_tag '/images/admin/settings.png'
              %span Dashboard
          %li{:class=>controller.controller_name=='accounts' ? 'current' : nil}
            =link_to admin_accounts_path do
              =image_tag '/images/admin/account.png'
              %span Accounts
          %li{:class=>controller.controller_name=='courses' ? 'current' : nil}
            =link_to admin_courses_path do
              =image_tag '/images/admin/course.png'
              %span Courses
          %li
            =link_to nil do
              =image_tag '/images/admin/posts.png'
              %span Dashboard3
          %li
            =link_to nil do
              =image_tag '/images/admin/media.png'
              %span Dashboard4
          %li
            =link_to nil do
              =image_tag '/images/admin/notes.png'
              %span Dashboard5
          %li
            =link_to nil do
              =image_tag '/images/admin/coin.png'
              %span Dashboard6
        =image_tag '/images/admin/menu_spacer.png'
      %div#right_dash
        -[:notice,:error].each do |type|
          -unless flash[type].blank?
            %div{:class=>type}=flash[type]
        =yield