!!!
%html
  %head
    %title
    =stylesheet_link_tag 'application'
    =stylesheet_link_tag 'login_page'
    =javascript_include_tag :defaults, :jqtouch
    =yield :head
    =csrf_meta_tag
  %body{:class=>controller.action_name=='index' ? 'big' : nil}
    %div#wrapper      
      %div#header
        =link_to 'homepage', root_path
        %ul.menu
          %li{:class=>controller.action_name=='index' ? 'current' : nil}
            =link_to root_path do
              %span What?
              %br
              is Brainiac
          %li{:class=>controller.action_name=='why' ? 'current' : nil}
            =link_to why_path do
              %span Why?
              %br
              should i use it?
          %li{:class=>controller.action_name=='tech' ? 'current' : nil}
            =link_to tech_path do
              %span Tech
              %br
              explanation
          %li{:class=>controller.action_name=='contact' ? 'current' : nil}
            =link_to contact_path do
              %span Contact
              %br
              us any time.
      =yield
    %div#footer
    -#-if mobile_device?
    -#  =link_to "Full Site", :mobile => 0
    -#-else
    -#  =link_to "Mobile Site", :mobile => 1